.blob-container {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.blob {
  mix-blend-mode: difference;
  width: 60vh;
  height: 60vh;
  border-radius: 50%;
}

.blob.b1 {
  position: absolute;
  right: -20vh;
  bottom: -30vh;
  background: radial-gradient(
    circle,
    rgba(195, 195, 34, 1) 0%,
    rgba(253, 45, 222, 1) 100%
  );
}

.blob.b2 {
  left: -10vh;
  top: -20vh;
  position: absolute;

  background: linear-gradient(
    60deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.blob.b3 {
  position: absolute;
  left: -30vh;
  top: 15vh;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

main {
  max-height: 100vh;
  overflow-y: auto;
  width: auto;
}

.center-col {
  max-width: 624px;
  margin: 0 auto;
  padding: 10vh 24px;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: var(--large-text);
  font-family: var(--serif-font);
}

p {
  line-height: 2em;
}

#socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 5vh;
}

#socials > li > a > i {
  color: var(--text-color);
  font-size: var(--large-text);
  padding: 0 12px;
  transition: 100ms color ease-in-out;
}

#socials > li > a:hover > i {
  color: var(--primary-accent);
}

#links {
  padding-left: 0;
  margin-left: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#links > li {
  font-size: var(--large-text);
  font-family: var(--serif-font);
  color: var(--text-color);
  border-radius: 12px;
  margin: 0 8px;
  text-align: center;
}

#links > li > a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: var(--side-bar-text-color);
}

#links > li:hover > a {
  color: var(--primary-accent);
}
