.center-col {
  max-width: 624px;
  margin: 0 auto;
  padding: 10vh 24px;
}

h1 {
  font-size: var(--large-text);
  font-family: var(--serif-font);
}

p {
  line-height: 2em;
}

#socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 5vh;
}

#socials > li > a > i {
  color: var(--primary);
  font-size: var(--large-text);
  padding: 0 12px;
  transition: 100ms color ease-in-out;
}

#socials > li > a:hover > i {
  color: var(--primary-accent);
}

#links {
  padding-left: 0;
  margin-left: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#links > li {
  font-size: var(--large-text);
  font-family: var(--serif-font);
  color: var(--text-color);
  border-radius: 12px;
  margin: 0 8px;
  text-align: center;
}

#links > li > a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: var(--side-bar-text-color);
}

#links > li:hover > a {
  color: var(--primary-accent);
}
