.popover {
  transition: background-color 50ms ease-in-out;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
  text-decoration-color: var(--primary);
}

.popover:hover,
.popover.active {
  text-decoration-color: var(--primary-accent);
}

.popover:focus {
  outline: none;
}

.popover-container {
  display: block;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid var(--primary-accent);
}
